Source: devdocs-meta
Priority: optional
Section: metapackages
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: devdocs-meta
Architecture: all
Depends:
 devdocs,
Recommends:
 devdocs-data-bash,
 devdocs-data-c,
 devdocs-data-c++,
 devdocs-data-cmake,
 devdocs-data-g++,
 devdocs-data-gcc,
 devdocs-data-git,
 devdocs-data-make,
 devdocs-data-man,
 devdocs-data-opengl,
 devdocs-data-python,
 devdocs-data-qt,
Description: dev-meta
 Devdocs meta-package
